.Menu {
  position: relative;
  height: 30px;
  width: 30px;
  background: #f9dc5c;

  &::before {
    content: '☰';
  }

  &.Open {
    &::before {
      content: '✕';
    }

    .MenuContainer {
      transform: translateX(0);
    }
  }

  .MenuContainer {
    position: absolute;
    top: 100%;
    padding: 20px 10px;
    background: var(--header-color);
    transform: translateX(-100%);
    transition: transform 200ms ease-in;
  }
}
