.Navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  height: 100vh;
  @media (min-width: 750px) {
    height: auto;
    flex-direction: row;
  }

  a {
    padding: 3px 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  :hover {
    background-color: var(--hover-color);
    transition: 1s ease-in-out;
  }
}
